* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

@font-face {
  font-family: 'continuous';
  src: url('./assets/fonts/continuous.ttf')
}
